{% extends 'base.html.twig' %}

{% block title %}Editar Emoción{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="h3 mb-4 text-primary"><i class="fas fa-edit"></i> Editar: {{ emotion.name }}</h1>

            {# Reutilizamos el mismo formulario #}
            {% include 'emotion/_form.html.twig' with {'button_label': 'Actualizar'} %}

            <div class="mt-3 text-end">
                {# Botón de borrar (lo implementaremos después, pero deja el hueco) #}
                {# {{ include('emotion/_delete_form.html.twig') }} #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
