/* assets/styles/app.css */

/* Importamos Bootstrap */
@import "../vendor/bootstrap/dist/css/bootstrap.min.css";

/* 2. FontAwesome */
@import "../vendor/@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: #f4f7f6;
}
