{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="p-5">
        <h1 class="text-primary">Prueba de Componentes</h1>

        <button class="btn btn-primary">
            <i class="fa-solid fa-rocket"></i> ¡Bootstrap y Icons funcionando!
        </button>

        <div class="mt-4">
            <i class="fa-solid fa-user fa-2x text-info"></i>
            <i class="fa-solid fa-brain fa-2x text-warning"></i>
            <i class="fa-solid fa-check-circle fa-2x text-success"></i>
        </div>
    </div>
</div>
{% endblock %}
