security:
    # Configuración de los algoritmos de hashing para las contraseñas
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # Proveedor de usuarios que carga la entidad User desde la base de datos
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Permite el acceso sin seguridad a las herramientas de desarrollo y assets
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\AppCustomAuthenticator
            logout:
                path: app_logout

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800 # 1 semana en segundos
                path: /

    # Reglas de control de acceso a las rutas de la aplicación (la primera regla que coincide es la que manda)
    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: ROLE_USER }

when@test:
    security:
        password_hashers:
            # Reducción de los costes de hashing para acelerar la ejecución de los tests automáticos
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Valor mínimo permitido por bcrypt
                time_cost: 3 # Valor mínimo permitido por argon
                memory_cost: 10 # Valor mínimo permitido por argon
